body {
  
}

.box {
	margin: 100px;
  position: relative;
  transform-style: preserve-3d;
  perspective: 500px;
}

.side {
  position: absolute;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}

.front {
  
}

.left {
  transform: rotatey(90deg) translatex(100px) translatez(-100px);
  
}

.right {
  transform: rotateY(90deg) translateX(100px) translateZ(100px);
}

.bottom {
  transform: rotateX(90deg);
  transform-origin: bottom center;
}

.back {
  transform: translateZ(-200px);
}

.top {
  transform: rotateX(-90deg) translateY(-100px);   transform-origin: top center;
}